{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class="container">
            <blockquote>    
                {% for quote in random_quote %}  
                    {{quote.quote}}
                    <h5><cite style="color:#006621;">{{quote.author}}</cite>                
                {% endfor %}
            </blockquote>
            <h3>Recent Blogs</h3>
            <hr>
            <p></p>
            {% for blog in recent_blogs %}
            <div class="bs-callout bs-callout-danger" id="callout-navbar-fixed-top-padding"> <h4><a href="{{url_for('writer_user.view_blog', id=blog.id)}}">{{blog.title | truncate(80) | safe}}</a></h4> <cite style="color:#006621;">{% if blog.writer_url %}{{blog.writer_url|safe}} {% else %} No writer's url provided {% endif %} </cite> <p>{{blog.body|truncate(150) | safe}} <a href="{{url_for('writer_user.view_blog', id=blog.id)}}">Read more</a></p> <small class="text-muted">by <a><strong>{{blog.posted_by}}</strong></a>, {{ blog.posted_at.strftime('%Y-%m-%d') }}</small> </p></div>                
            {% endfor %}  
            <p></p>                                      
            <h3>Older Blogs</h3>
            <hr>
            <p></p>            
        {% for blog in all_blogs %}
            <div class="bs-callout bs-callout-info" id="callout-navbar-overflow"> <h4><a href="{{url_for('writer_user.view_blog', id=blog.id)}}">{{blog.title | truncate(80) | safe}}</a></h4> <cite style="color:#006621;">{% if blog.writer_url %}{{blog.writer_url|safe}} {% else %} No writer's url provided {% endif %} </cite> <p>{{blog.body|truncate(150) | safe}} <a href="{{url_for('writer_user.view_blog', id=blog.id)}}">Read more</a></p> <small class="text-muted">by <a><strong>{{blog.posted_by}}</strong></a>, {{ blog.posted_at.strftime('%Y-%m-%d') }}</small> </p></div>                
        {% endfor %}  
    </div>
    <p></p>
    <hr>
    <h6 class="text-center">&#169; Stranger Blog. AllRights Reserved.</h6>
    <p></p>
    <p></p>
    <p></p>
{% endblock %}